<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ form.instance.pk|yesno:"Edit Book,Add New Book" }}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/page_design.css' %}">   
    </head>
    <body>
        <div class="container">
            <h1>{{ form.instance.pk|yesno:"Edit Book,Add New Book" }}</h1>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button save">Save</button>
                <a href="{% url 'book_list' %}" class="button">Back to list</a>
            </form>        
        </div>
    </body>
</html>
